* {
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
}
.main-container {
    min-height: 100%;
}

.boxWithHeight {
    min-height: 100%;
}

.chart-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    height: 100%;
}

.chart-container > canvas {
    height: 100%;
}
.grid{
    width: 80%;
}
.upload{
    text-align: center;
}
.upload-btn{
    font-size: 20px;
    background: lightblue;
    margin: 0 auto;

}

.menu-bar {
    width: 80%;
    margin: 0 auto;
}

.capitalize {
    text-transform: capitalize;
}